<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Tailwind CSS</title>
		<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
		<link href="https://rsms.me/inter/inter.css" rel="stylesheet" />
	</head>
	<body class="flex flex-col items-center justify-center min-h-screen bg-white">
		<h1 class="text-6xl font-thin text-indigo-600">
			Tailwind CSS
		</h1>
		<span class="text-lg font-medium tracking-wide text-gray-800 uppercase">
			With Vite
		</span>
		<script type="module" src="/src/main.js"></script>
	</body>
</html>
